.logo-body-home {
  width: 360px;
  margin-top: 30px;
}

.logo-sidebar {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.card-home {
  border-radius: 10px;
  background-color: rgba(250, 252, 250, 0.5);
}

.card-home:hover {
  background-color: rgba(219, 245, 219, 0.8);
}

.card-home-ue {
  border-radius: 10px;
  background-color: rgba(250, 252, 250, 0.5);
}

.card-home-ue:hover {
  background-color: rgba(157, 229, 157, 0.8);
}

.form-1 {
  border-radius: 20px;
}

.center-img {
  margin: auto;
  display: block;
}

.mg-t-25px {
  margin-top: 25px;
}

.mg-t-50px {
  margin-top: 50px;
}

.mg-t-75px {
  margin-top: 75px;
}

.center-v {
  align-items: center;
}

.container-center {
  display: flex;
}

.container-bg {
  background-color: #dbf5db;
}

.none {
  display: none;
}

.btn-100 {
  width: 100%;
}

.nav-home-ue {
  color: #08366b;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.nav-home-ue:hover {
  color: #005dc7;
  font-weight: bold;
}

.nav-home-ue.active {
  background-color: #dbf5db;
  padding-top: 5px;
  border-radius: 15px 15px 0px 0px;
  border-width: 1px;
  border-color: #4E9D4C;
  border-style: solid;
  border-bottom: none;
  min-height: 100%;
  text-align: center;
}

.dditem-hov:hover {
  font-weight: bold;
}

.admin-link-active:hover {
  color: #08366b;
  font-weight: bold;
}

.admin-link {
  color: #08366b;
  font-weight: bold;
  cursor: default;
}

.pointer:hover {
  color: #3b3d3d;
  cursor: pointer;
}

/* Loader: */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

