.logo-body-home {
  width: 360px;
  margin-top: 30px;
}

.logo-body-home-user-ext {
  width: 180px;
  margin-top: 30px;
}

.card-home {
  border-radius: 10px;
  background-color: rgb(255,255,255, .5);
}

.form-1 {
  border-radius: 20px;
}

.center-img {
  margin: auto;
  display: block;
}

/* #container-100vh {
  min-height:100vh;
  position:relative;
} */

.mg-t-25px {
  margin-top: 25px;
}

.mg-t-50px {
  margin-top: 50px;
}

.mg-t-75px {
  margin-top: 75px;
}

.center-v {
  align-items: center;
}

.container-center {
  display: flex;
  /* align-items por defecto tiene el valor `stretch` */
}